/* Container geral da barra de progresso */
.wrapper {
    display: flex;
    align-items: center; /* Alinha a barra e o texto na mesma linha */
    gap: 10px; /* Espaço entre a barra e o texto */
  }
  
  /* Estilo da barra */
  .barra {
    display: flex;
    width: 90px; /* Largura da barra */
    height: 10px; /* Altura da barra */
    background-color: #dddddd;
    border-radius: 8px;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites */
    position: relative;
  }
  
  /* Estilo do progresso */
  .progresso {
    height: 100%;
    background-color: #e17a05;
    border-radius: 8px; /* Deixa as bordas arredondadas */
    transition: width 0.3s ease; /* Animação suave ao alterar o progresso */
  }
  
  /* Estilo do texto */
  .texto {
    font-size: 10px;
    font-weight: 500;
  }
  