.pageBackground {
  background-color: #f4a261; /* Fundo laranja */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  max-width: 100%;
}

.containerLogo {
  margin-bottom: 20px;
  text-align: center;
}

.iconLogo {
  width: 100px;
  height: auto;
}

.containerInput {
  margin-bottom: 20px;
}

.inputEmail, .inputPassword, .inputRepeatPassword {
  margin-bottom: 15px;
}

.hC {
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
}

.buttonC {
  background-color: var(--main-color);
  width: 300px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto; 
  display: block; 
}

.buttonC:hover {
  background-color: var(--main-color-light);
}

.backToLogin {
  display: flex;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-left: 270px;
  margin-bottom: 20px;
  cursor: pointer;
}

.backToLogin:hover {
  text-decoration: underline;
}
