.containerTransacoes {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin-left: 260px;
    padding: 20px;
}   
.headerTransacoes{
    display: flex;
    flex-direction: column;
    background-color: var(--gray);
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
h3{
    margin: 0px;
}
.rowTransacoes{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.rowTransacoes div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.rowTransacoes p{
    margin: 0px;
}

.iconT{
    height: 28px;
}
.spanM{
    color: #BC7D18;
}
.spanR{
    color: #C63A22;
}.spanT{
    color: #2A9D8F;
}

.bodyTransacoes{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}
.headerBodyT{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px ;
    padding: 20px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* cor de fundo suave */
    padding: 0px 12px;
    border-radius: 25px; /* bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* sombra suave */
    max-width: 300px;
    height: 40px;
    width: 100%;
    transition: all 0.3s ease;
}

.search:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* sombra mais forte ao passar o mouse */
}

.input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    background-color: transparent;
}

.input::placeholder {
    color: #888;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.icon:hover {
    filter: brightness(0.8); /* efeito de escurecer ao passar o mouse */
}

/* Fundo escuro quando o modal está ativo */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  
  /* Container do modal */
  .modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  