.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px); 
}

.header {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}

header time {
    font-style: italic;
    color: #555;
}

.detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
}

.detalhes li {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    font-size: 1rem;
}
