.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modalContent {
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1010;
  }
  
  .headerModal {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }
  
  .closeButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .saveButton {
    padding: 7px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .saveButton:hover {
    background-color: var(--main-color-light);
  }
  
  .saveButton:hover { /* Alterei o nome da classe para manter a consistência com o JSX */
    background-color: var(--main-color-light);
  }
  .footerModal{
    display: flex;
    justify-content: end;
  }
  