.addButton {
  display: flex;
  align-items: center;
  gap: 8px; 
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  height: 38px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.addButton:hover {
  background-color: var(--main-color-light); /* Azul mais escuro no hover */
}

.iconPlus {
  width: 27px; /* Tamanho do ícone */
  height: 27px;
}
