.home {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  flex-grow: 1;
}

h1 {
  font-weight: 300;
}

.userName {
  font-size: xx-large;
  color: #E17A05;
  font-weight: 400;
  display: inline;
}

.subHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  border-radius: 8px;
  margin: 15px 25px 0 25px;
  padding-right: 12px;
}

.headerSaldo {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.iconHeader {
  width: 30px;
}

.pHeader {
  margin-left: 10px;
}

.sHeader {
  color: var(--main-color);
  display: inline;
}

.body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1300px;
}

.cards1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cards2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.cards2 h2 {
  margin-top: 0px;
}
.cards3 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cardSaldo {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 30%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.hTitulo {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.cardHistorico {
  display: flex;
  flex-direction: column;
  font-size: small;
  flex: 3;
  max-width: 65%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.titulotransacoes {
  display: flex;
  justify-content: space-between;
}

.titulotransacoes p {
  font-weight: 600;
  font-size: medium;
}
.linebanks p{
  margin: 9px;
}
.linebanks img{
  width: 33px;
  height: 33px;
  border-radius: 50%; 
  object-fit: cover; 
}

.linebanks,
.linesTransacoes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.iconNubank,
.iconBrades,
.iconH {
  width: 24px;
  height: 24px;
}

.spanRed span {
  color: var(--vibrant-red);
  font-weight: 700;
}

.spanGreen span {
  color: var(--vibrant-green);
  font-weight: 700;
}
