/* Estilo geral do card */
.cardContainer {
    background-color: #fff;
    padding: 5px;
    width: 200px;
    height: auto;
    border-radius: 8px;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para o conteúdo do card */
  .cardContent {
    padding-bottom: 10px;
  }
  
  /* Estilo da imagem dentro do conteúdo */
  .cardContent img {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
  }
  