.modalContainerCategoria{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modalHeader h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  .closeIcon {
    width: 16px;
    cursor: pointer;
  }
  
  .modalForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .formGroup {
    display: flex;
    gap: 5px;
    height: 35px;
  }
  
  .formGroup button {
    margin-left: auto; 
    border: none;
    cursor: pointer;
  }
  
  .formGroup label {
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .formGroup input {
    padding: 8px;
    font-size: 1rem;
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
  }
  .formGroup input:focus {
    border-color: var(--main-color-light); 
    outline: none; 
  }
  
  .radioGroup {
    display: flex;
    gap: 20px;
  }
  
  .radioGroup label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .radioGroup input {
    accent-color: var(--primary-color); 
    cursor: pointer;
  }
  
  .formActions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    gap: 5px;
  }
  
  .saveButton {
    padding: 7px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--main-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
  .saveButton:hover {
    background-color: var(--main-color-light); 
    transform: scale(1.05);
  }
  
  .saveButton:active {
    background-color: darken(var(--main-color), 10%);
  }
  
  .deleteButton:active {
    background-color: #a93226;
  }
  
  .colorButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
  }
  
  .colorSet {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000; 
    border: 2px solid #ccc;
    transition: transform 0.2s ease, border-color 0.2s ease; 
  }
  
  .colorSet:hover {
    border-color: var(--main-color-light);
    transform: scale(1.1);
  }
  
  .containerDropDownCategories {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 180px;
    z-index: 1000;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .closeIcon {
    width: 16px;
    cursor: pointer;
  }
  
  .linhacor {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .colorOption {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s ease, border-color 0.2s ease;
  }
  
  .colorOption:hover {
    transform: scale(1.1);
    border-color: var(--main-color-light);
  }
  